<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eirapplets.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
    </resultMap>

    <select id="queryUser" parameterType="User" resultType="User">
        select * from s_user where
        username=#{username} and password=#{password}
    </select>

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into s_user values (#{id}, #{name}, #{grade}, #{password}, #{username}, #{phone})
    </insert>

    <select id="queryUserByUsername" resultMap="userMap">
        select * from s_user
        where username=#{username}
    </select>


    <insert id="saveUserTemperature" parameterType="Temperature" useGeneratedKeys="true" keyProperty="id">
        insert into s_temperature values (#{id}, #{datetime}, #{userid}, #{temperature}, #{place})
    </insert>

    <update id="update" parameterType="User">
        update s_user set name=#{name},grade=#{grade},password=#{password},username=#{username},phone=#{phone}
        where id = #{id}
    </update>

    <select id="queryUserById" parameterType="Integer" resultType="User">
        select * from s_user where
        id = #{id}
    </select>

    <select id="queryPhoneNumbers" parameterType="String" resultType="String">
        SELECT name,phone
        from s_user
        WHERE id NOT IN(
            SELECT userid
            FROM s_temperature
            WHERE DATE(datetime) = #{date}
            )
    </select>

</mapper>